* {
    background-color: rgb(63, 43, 17);
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "dis dis dis dis" "AC C div times" "seven eight nine minus" "four five six plus" "one two three equal" "zero zero dot equal";
}

.padButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    background-color: black;
    color: rgb(13, 118, 113);
    border: 1px solid gray;
    cursor: pointer;
    font-size: 20px;
}

.padButton:hover {
    border: 1px solid white;
    color: #ccc
}

.dis {
    background-color: black;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    grid-area: dis;
}

.zero {
    grid-area: zero;
}

.equal {
    grid-area: equal;
}

.dark-gray {
    background-color: rgb(42, 7, 7);
}

.tomato {
    background-color: rgb(85, 10, 10);
}

.blue {
    background-color: rgb(11, 56, 56);
}

.total {
    padding: 5px 20px;
    color: rgb(12, 137, 68);
}

input::placeholder {
    color: white;
}

.dis input {
    width: 90%;
    color: white;
    text-align: right;
    background-color: black;
    padding: 5px 20px;
}